
body {
  color: #5b5b5b;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #aaaaaa;
  font-size: 5.625rem;
  line-height: 2;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
color: #5b5b5b;
font-family: 'Montserrat', sans-serif;
padding-bottom: 10px;
}

h3 {
color: #5b5b5b;
font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

hr {
  border: dotted #aaaaaa 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: #5b5b5b;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
}

.top-container {
  background-color: #a4ebf3;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #a4ebf3;
  padding: 50px 0 20px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.web {
  color: #aaaaaa;
  font-size: 2.5rem;
  font-weight: normal;
}

.skill-row {
width: 50%;
margin: 100px auto 100px auto;
text-align: left;
}

.intro {
  width: 50%;
  margin: auto;
  text-align: left;
  line-height: 2;
}

.copyright {
  color: #5b5b5b;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75rem;
  padding: 20px 0;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chilli-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.btn {
  background: #aaaaaa;
  background-image: -webkit-linear-gradient(top, #aaaaaa, #aaaaaa);
  background-image: -moz-linear-gradient(top, #aaaaaa, #aaaaaa);
  background-image: -ms-linear-gradient(top, #aaaaaa, #aaaaaa);
  background-image: -o-linear-gradient(top, #aaaaaa, #aaaaaa);
  background-image: linear-gradient(to bottom, #aaaaaa, #aaaaaa);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #5b5b5b;
  background-image: -webkit-linear-gradient(top, #5b5b5b, #5b5b5b);
  background-image: -moz-linear-gradient(top, #5b5b5b, #5b5b5b);
  background-image: -ms-linear-gradient(top, #5b5b5b, #5b5b5b);
  background-image: -o-linear-gradient(top, #5b5b5b, #5b5b5b);
  background-image: linear-gradient(to bottom, #5b5b5b, #5b5b5b);
  text-decoration: none;
}
